html, header, h1, #inputForm, .weather, input, #submitButton, img, .templates,
.currentWeather, .weatherTomorrow, .results {
	position: relative;
	/*border: 1px solid black;*/
}

html {
	background-image: url(../cloud.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	min-height: 100%;
	background-position: 0 0;
}

header {
	width: 100%;
	margin: 0 auto;
}

#inputForm {
	width: 100%;
	margin-top: 25px;
}

ul {
	list-style: none;
}

li {
	margin: 0 0 10px 0;
	text-align: center;
}

#main {
	margin: 0 auto;
	width: 100%;
}

h1 {
	text-align: center;
	font-size: 4em;
}

strong {
	font-weight: bolder;
}

.weather {
	margin: 0 auto;
	width: 30%;
}

input:first-child {
	float: left;
	width: 75%;
}

.currentWeather img {
	width: 100px;
	height: 100px;
}

.weatherForecast img {
	width: 50px;
	height: 50px;
	text-align: left;
}

.templates {
	display: block;
	margin: 0 auto;
	margin-top: 50px;
	height: 330px;
	width: 45%;
}

.result {
	padding: 5px;
	margin: 0 auto;
	text-align: left;
	width: 500px;
	height: 300px;
}

.results {
	
	margin: 0 auto;
	width: 90%;
	height: 267px;
}

.currentWeather {
	margin: 0 auto;
	margin-top: 25px;
	width: 20%;
	height: 290px;
	font-size: 1.2em;
}

.name {
	font-size: 1.5em;
}

.weatherTomorrow {
	border: 1px solid grey;
	display: inline-block;
	margin-right: 0.8%;	
	margin-left: 2.5%;
	margin-top: 40px;
	width: 15%;
	height: 215px;
}

.hidden {
	display: none;
}

.error {
	padding: 5px;
	margin: 0 auto;
	text-align: left;
	width: 500px;
	height: 300px;
}

h3 {
	margin-top: 50px;
}