html, h1, .weather, input, #searchButton, .topReadings, .templates {
	position: relative;
	/*border: 1px solid black;*/
}
html {
	background-image: url(cloud.jpg) ;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	min-height: 100%;
	background-position: 0 0;
}

h1 {
	text-align: center;
	font-size: 4em;
}

.weather {
	margin: 0 auto;
	width: 50%;
}

input:first-child {
	margin: 0 auto;
	width: 82%;
}

#submitButton {
	width: 60px;	
}

.templates {
	display: block;
	border: 1px solid black;
	margin: 0 auto;
	margin-top: 50px;
	height: 207px;
	width: 75%;
}

#currentWeather {
	border: 1px solid black;
	margin: 0 auto;
	width: 50%;
	height: 100px;
}

.weatherForecast {
	border: 1px solid black;
	float: left;
	margin-top: 5px;
	
	width: 19%;
	height: 100px;
}

.hidden {
	display: none;
}
