html, h1, .weather, input, #submitButton, img, .templates,
.currentWeather, .weatherTomorrow {
	position: relative;
	/*border: 1px solid black;*/
}

html {
	background-image: url(cloud.jpg) ;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	min-height: 100%;
	background-position: 0 0;
}

h1 {
	text-align: center;
	font-size: 4em;
}

.weather {
	margin: 0 auto;
	width: 25%;
}

input:first-child {
	margin: 0 auto;
	width: 75%;
}
/*
#submitButton {
	width: 60px;	
}*/

.currentWeather img {
	width: 100px;
	height: 100px;
}

.weatherForecast img {
	width: 50px;
	height: 50px;
	text-align: left;
}

.templates {
	display: block;
	margin: 0 auto;
	margin-top: 50px;
	height: 330px;
	width: 45%;
}

.result {
	padding: 5px;
	margin: 0 auto 1em auto;
	text-align: left;
	width: 500px;
	height: 300px;
}

.currentWeather {
	margin: 0 auto;
	width: 40%;
	height: 319px;
	font-size: 1.2em;
}

.name {
	font-size: 1.5em;
}

.weatherTomorrow {
	float: left;
	margin-top: 25px;
	margin-left: 60px;
	width: 19%;
	height: 300px;
}

.hidden {
	display: none;
}